<!DOCTYPE html>
<html lang="cs">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <script src="/static/core.js"></script>
        <script src="/static/matrix.js"></script>
        <script>
            CSRF_TOKEN = "{{ csrf_token }}"

            $(()=>{
                matrix = new MatrixText('matrix-chars');
            })
        </script>
        <title>N-Trophy</title>
    </head>
    <body>
        <canvas id="matrix-chars"></canvas>
        <div class="w3-content w3-container w3-display-middle w3-center w3-padding-small w3-content" style="background-color: #101010">
            <div class="w3-center w3-large w3-padding-small">Byli jste odhlášeni</div>
            <a href="/" class="button w3-center w3-section">Znovu se přihlásit.</a>
        </div>
        <!-- Footer -->
        <footer class="w3-container black-background w3-center w3-opacity">
            <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
        </footer>
    </body>
</html>
