@import url('https://fonts.googleapis.com/css?family=VT323&display=swap&subset=latin-ext');

h1, h2, h3, h4, .w3-bar-item {
    font-family: VT323, 'Courier New', Courier, monospace;
}

h5, h6 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

body {
    margin: 0;
    padding: 0;
    color: rgb(42, 255, 42);
    background-color: rgb(16, 17, 16);
    font-family: 'Courier New', Courier, monospace;
}

@media (max-width: 600px) {
  body { text-align: left; }
}

@media (min-width: 601px) {
  body { text-align: justify; }
}

ul, ol {
    padding-bottom: 20px;
}

hr {
    border-color: rgb(42, 255, 42);
}

pre {
    white-space: pre-wrap;
}

footer {
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

input[type="text"], input[type="password"], textarea, select, button { 
    outline: none;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#page-content {
    padding-bottom: 100px;
}

#width-input, #height-input {
    border: none !important;
    outline: none;
}

.selector_table {
    color: black;
    border: 2px solid;
    background: #222;
    border-collapse: collapse;
    margin: 30px auto;
}

.selector_table tr {
    height: 25px;
}

.selector_table td {
    border: 1px solid;
    padding: 3px 5px 0px 5px;
    width: 25px;
    text-align: center;
}

.stats_table {
    border-collapse: collapse;
    margin: 10px auto;
}

.stats_table td {
    border-bottom: 1px solid rgb(42, 255, 42);
    padding: 5px 20px;
    text-align: center;
}

.stats_table .left {
    text-align: left;
}

.stats_table th {
    writing-mode: vertical-rl;
    vertical-align: middle;
}

.stats_table a {
    text-decoration: none;
}

.stats_table a:hover {
    text-decoration: underline;
}

.mapColorR {
    color: #f00f;
}
.mapColorG {
    color: #0f0f;
}
.mapColorB {
    color: #00ff;
}
.mapColorK {
    color: #555;
}

.red {
    background-color: #f00f;
}
.green {
    background-color: #0f0f;
}
.blue {
    background-color: #00ff;
}
.gray {
    background-color: #555;
}

.task-ok {
    color: #2aa02a;
}

.task-nok {
    color: red;
}

.task-no {
    color: orange;
}

.task-not {
    color: grey;
}

.task-status {
    font-size: small;
}

#console {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.3);
    color: rgb(42, 255, 42);
}

#load-btn {
    background-color: rgb(42, 255, 42);
    color: black;
}

#console-info {
    overflow: hidden;
    background-color: #333;
}

#task-header {
    max-width: 700px;
    text-align: left;
    margin: auto;
    margin-bottom: 100px;
}

.klikatko-container  {
    margin: 50px 0;
}

@media (min-width: 992px){
    .klikatko-container  {
        margin: 50px;
    }
}

.CodeMirror, .CodeMirror-cursor, .CodeMirror-cursor, .CodeMirror-gutters {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border-color: rgba(255, 255, 255, 0.3) !important;
    color: rgb(42, 255, 42) !important;
}

#automata {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.selected {
    background-color: rgb(42, 255, 42);
    color: black;
}

.v-space {
    height: 20px;
}

.v-space-large {
    height: 40px;
}

.warning {
    color: #f42420;
}

.black-background {
    background-color:black!important;
}

.dark-grey-background {
    background-color:rgb(16, 16, 16)!important;
}

.padding-8 {
    padding: 8px!important;
}

.margin-8 {
    margin: 8px!important;
}

.button {
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:black;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.button:disabled {
    cursor:not-allowed;
    opacity:0.3;
}

.w3-dropdown-hover:hover > .button:first-child, .w3-dropdown-click:hover > .button:first-child {
    background-color:#ccc;
    color:#000;
}

.w3-bar-block .w3-dropdown-hover .button, .w3-bar-block .w3-dropdown-click .button {
    width:100%;
    text-align:left;
    padding:8px 16px;
}

.w3-bar .button{
    white-space:normal;
}

.w3-dropdown-hover.w3-mobile .button, .w3-dropdown-click.w3-mobile .button {
    width:100%;
}

.button:hover {
    color:black;
    background-color:rgb(42, 255, 42);
}

.w3-dropdown-content, .w3-sidebar, .w3-top, .w3-bottom {
    z-index: 10;
}

.w3-modal {
    z-index: 13;
}

.w3-overlay {
    z-index: 12;
}

.lowercase {
    text-transform: lowercase;
}

/* Matrix characters */
#matrix-chars {
    width: 100vw;
    height: 98.8vh;
}

.anchor {
    display: block;
    height: 51px; /*same height as header*/
    margin-top: -51px; /*same height as header*/
    visibility: hidden;
}
