body {
    margin: 0;
    padding: 0;
    color: rgb(42, 255, 42);
    background-color: rgb(16, 17, 16);
    font-family: 'Courier New', Courier, monospace;
}

input[type="text"], input[type="password"], textarea, select { 
    outline: none;
}

#console {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.3);
    color: rgb(42, 255, 42);
}

.CodeMirror, .CodeMirror-cursor, .CodeMirror-cursor, .CodeMirror-gutters {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border-color: rgba(255, 255, 255, 0.3) !important;
    color: rgb(42, 255, 42) !important;
}

.cell {
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.3);
    border-width: 2px;
    border-style: solid;

    -webkit-transition: background-color 0.05s ease;
    -moz-transition: background-color 0.05s ease;
    -o-transition: background-color 0.05s ease;
    transition: background-color 0.05s ease;
}

table#automata {
    float: left;
}

#automata.running {
    box-shadow: 0 0 10px #00ff00;
}

.table-button {
    float: right;
}

.table-button > li {
    list-style: none;
    margin: 10px;
}


/* Matrix characters */
/* #matrix-chars {
    width: 100%;
    height: 100%;
} */