<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="static/automata.js"></script>
        <script src="static/world.js"></script>
        <script src="static/test.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <script>
            CSRF_TOKEN = "{{ csrf_token }}"
        </script>
    </head>
    <body>
        
        <!-- Container (About Section) -->
        <div class="w3-content w3-container w3-padding-64">
            <h3 class="w3-center">ÚLOHA 1.1</h3>
            <p>
                V této úloze je vaším úkolem najít minimální popis pravidel takový,
                že se výsledná hra chová jako tradiční game of life.
                Bodován je počet písmen i počet logických spojek a podmínek.
                Dostupné barvy: bw.
            </p>
        </div>
        <div class="w3-cell-row">
            <div class="w3-container w3-cell w3-half">
                <div class="w3-center">
                    <textarea id="src" rows = "25" cols = "40" name = "source_input"></textarea><br>
                    <button onclick="world.loadSource('src')">Load source</button>
                    <br />
                    <span id='parse-info'>Zatím nic nezadáno.</span>
                </div>
            </div>
            
            <div class="w3-container w3-cell w3-half">
                <div>
                    <table id="automata"></table>
                    <ul class="table-button">
                        <li>
                            <button onclick="world.tick()">Tick</button>
                        </li>
                        <li>
                            <button onclick="world.run()">Run</button>
                        </li>
                        <li>
                            <button onclick="world.stop()">Stop</button>
                        </li>
                        <li>
                            <button onclick="world.clear()">Clear</button>
                        </li>
                        <li>
                            <button onclick="world.fill()">Fill</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <script>
            $(initWorld);
        </script>
    </body>
</html>
