<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="static/automata.js"></script>
        <script src="static/world.js"></script>
        <script src="static/test.js"></script>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <body>
        <textarea id="src" rows = "25" cols = "40" name = "source_input"></textarea><br>
        <button onclick="world.loadSource('src')">Load source</button>
        <table id="automata"></table>
        <button onclick="world.tick()">Tick</button>
        <button onclick="world.run()">Run</button>
        <button onclick="world.stop()">Stop</button>
        <button onclick="world.clear()">Clear</button>
        <button onclick="world.fill()">Fill</button>

        
        <script>
            $(initWorld);
        </script>
    </body>
</html>