<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="static/automata.js"></script>
        <script src="static/world.js"></script>
        <script src="static/test.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <script>
            CSRF_TOKEN = "{{ csrf_token }}"
        </script>
    </head>
    <body>
        
        <!-- Container (About Section) -->
        <div class="w3-content w3-container w3-padding-64">
            <h3 class="w3-center">ÚLOHA 1.1</h3>
            <p>
                Zde si můžete vyzkoušet práci s automatem o dvou barvách. Při kliknutí na políčko změníte jeho barvu.
                Automat můžete spouštět buď po krocích (tick) nebo souvisle (run / stop). V případě,
                že chcete celý automat vyplnit jednou barvou, použijte tlačítka fill / clear.
                <ul>
                    <li>
                        Dostupné barvy: b, w
                    </li>
                    <li>
                        Selektor je slovo obsahující 9 znaků: barvy + '*'
                    </li>
                    <li>
                        Dostupné porovnávací operátory: <, <=, >=, ==
                    </li>
                    <li>
                        Dostupné logiké operátory: and, or
                    </li>
                    <li>
                        Každá podmínka musí mít if i else větev
                    </li>
                    <li>
                        Příklad kódu:<br>
                        if (bbb****** >= 1) or (******bbb >= 1):<br>
                            if (bbbbbbbbb >= 5):<br>
                                w<br>
                            else:<br>
                                b<br>
                        else:<br>
                            w<br>
                    </li>
                </ul>

            </p>
        </div>
        <div class="w3-cell-row">
            <div class="w3-container w3-cell w3-half">
                <div class="w3-center">
                    <textarea id="src" rows = "25" cols = "80" name = "source_input"></textarea><br>
                    <button onclick="world.loadSource('src')">Load source</button>
                    <br />
                    <span id='parse-info'>Zatím nic nezadáno.</span>
                </div>
            </div>
            
            <div class="w3-container w3-cell w3-half">
                <div>
                    <table id="automata"></table>
                    <ul class="table-button">
                        <li>
                            <button onclick="world.tick()">Tick</button>
                        </li>
                        <li>
                            <button onclick="world.run()">Run</button>
                        </li>
                        <li>
                            <button onclick="world.stop()">Stop</button>
                        </li>
                        <li>
                            <button onclick="world.clear()">Clear</button>
                        </li>
                        <li>
                            <button onclick="world.fill()">Fill</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <script>
            $(initWorld);
        </script>
    </body>
</html>
