<!DOCTYPE html>
<html lang="cs">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
     integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
     crossorigin="anonymous">
    <script src="/static/core.js"></script>
    <script>
        CSRF_TOKEN = "{{ csrf_token }}"
    </script>
    <title>Popis systému – Kvalifikace logika N-trophy X</title>
    <link rel="shortcut icon" type="image/png" href="/static/img/logo.png"/>
    <meta charset="UTF-8">
</head>
<body>
    <div id="page-container">
        <div id="page-content">
            {% include "includes/navbar.html" %}
            
            <div id="info" class="w3-container">
                <div class="w3-content">
                    <h1 class="w3-center">Popis systému</h1>
                    <h2>Klikátko</h2>
                    <h3>Prostor pro zápis pravidel</h3>
                    <ul>
                        <li>Prostor pro zápis pravidel se nachází na levé straně. Zapisujete do něj vždy <i>právě jedno</i> přechodové pravidlo. (O způsobu zápisu pravidel se dočtete dále.)</li>
                        <li>Simulaci můžete spouštět buďto souvisle, anebo po krocích (po jednotlivých iteracích).</li>
                        <li>Před jejím spuštěním je potřeba kód načíst. K tomu slouží tlačítko "načíst kód" vpravo dole.</li>
                        <li>Nad ním se vám budou objevovat chybové hlášky. Doporučujeme je číst, mohou vám ušetřit spoustu času.</li>
                        <li>Můžete zde také měnit velikost mřížky.</li>
                    </ul>
                    <h3>Mřížka</h3>
                    <ul>
                        <li>Mřížka se nachází napravo od Prostoru pro zápis pravidel, pod kterým najdete tlačítka pro její ovládání.</li>
                        <li>Její počáteční konfiguraci si můžete vyklikat ručně, načíst ze souboru, nebo obnovit dříve uloženou (tlačítko načíst). Stejně tak si můžete aktuální konfiguraci uložit - ať už do souboru, nebo pouze pro tuto chvíli (tlačítko uložit). Před zadáváním si nezapomeňte zvolit barvu.</li>
                        <li>Mřížka může, ale nemusí fungovat jako torus (co to znamená se dočtete v úlohách, které s ním pracují). Tuto její vlastnost si můžete nastavit pomocí tlačítek torus/rovina.</li>
                    </ul>
                </div>
            </div>

            <div id="rules" class="w3-container">
                <div class="w3-content">
                    <h2>Zápis pravidel</h2>
                    <p>Přechodové pravidlo opisuje chování každé buňky pro každý další krok simulace (pro každou další iteraci) na základě její barvy a barev okolních 8 buněk v aktuálním kroku. Zadáváte pouze <i>jedno</i> přechodové pravidlo, které se skládá ze dvou větví (if/else; každá z nich zakončená dvojtečkou).</p>
                    <p></p>
                </div>
            </div>

        </div>
        {% include "includes/footer.html" %}
    </div>

</body>
</html>
