<!DOCTYPE html>
<html lang="cs">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
     integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
     crossorigin="anonymous">
    <script src="/static/core.js"></script>
    <script>
        CSRF_TOKEN = "{{ csrf_token }}"
    </script>
    <title>Popis systému – Kvalifikace logika N-trophy X</title>
    <link rel="shortcut icon" type="image/png" href="/static/img/logo.png"/>
    <meta charset="UTF-8">
</head>
<body>
<div id="page-container">
<div id="page-content">
{% include "includes/navbar.html" %}

<div id="info" class="w3-container">
<div class="w3-content">
    <h1 class="w3-center">Popis systému</h1>
    <p>Tato stránka je návodem pro práci s klikátkem. Klikátko je k dispozici
    jak <a href="/klikatko">samostatně</a> (můžete zadat, co potřebujete – může
    se hodit pro každou úlohu), tak v každé úloze (přednastavené parametry
    úlohy).</p>

    <h2>Klikátko</h2>
    <p>Účelem klikátka je umožnit vám vyzkoušet si, jak se chová vámi vytvořený
    celulární automat. Celulární automat definujete vytvořením
    <ul>
    <li>pravidla,</li>
    <li>počáteční konfigurací (stavem mřížky).</li>
    </ul>

    <p>Celulární automat funguje tak, že vždy vezme nějaký stav mřížky,
    aplikuje na každou buňku pravidlo (na všechny buňky zároveň), což vytvoří
    mřížku novou. Tento proces se opakuje pořád dokola, dokud uživatel simulaci
    nezastaví. Příklad pravidla: “když mám alespoň 3 zelené sousedy a jsem
    zelená, zůstávám zelená, jinak se stávám šedou”.</p>

    <p>Klikátko obsahuje 3 části:</p>

    <h3>Prostor pro zápis pravidla</h3>
    <ul>
        <li>Prostor pro zápis pravidla se nachází na levé straně nahoře.
        Zapisujete do něj vždy <i>právě jedno</i> přechodové pravidlo.
        (O způsobu zápisu pravidla se dočtete dále.)</li>
        <li>Po zapsání přechodového pravidla je třeba kliknout na tlačítko
        <i>Načíst kód</i>. Po úspěšném načtení se vámi zapsaná pravidla
        použijí při spuštění simulace.</li>
    </ul>

    <h3>Nastavení automatu</h3>
    <p>Prostor pro nastavení automatu se nachází na levé straně dole.
    Nastavujete v něm různé parametry automatu.</p>
    <ul>
        <li><i>Šířka</i> a <i>výška</i> mřížky.</li>
        <li><i>Zpět</i>: umožňuje vrátit simulaci o krok zpět.</li>
        <li><i>Spustit</i>: spustí simulaci a nechá ji trvale běžet.</li>
        <li><i>Další</i>: provede jeden krok simulace.</li>

        <li><i>Vyčistit</i>, <i>Zaplnit</i>: nastavit všechny buňky na
        konkrétní barvu.</li>
        <li><i>Rovina/torus</i>: nastavuje, jestli okraje mřížky sousedí
        s buňkami "na druhé straně mřížky" (torus) nebo prostě nesousedí
        s ničím (rovina). U každé úlohy je zadáno, jestli funguje jako
        rovina nebo jako torus.</li>
        <li><i>Načíst</i>, <i>Uložit</i>: Umožňuje uložit si konkrétní stav
        a ten pak znovu použít.</li>
        <li><i>Ze souboru</i>, <i>Do souboru</i>: umožňuje stáhnout a nahrát
        stav mřížky.</li>
        <li><i>R,G,B,K</i>: změní barvu, kterou aktuálně vyklikáváte mřížku.</li>
    </ul>


    <h3>Mřížka</h3>
    <ul>
        <li>Mřížka se nachází na pravé straně.</li>
        <li>Její konfiguraci si můžete vyklikat ručně, načíst ze souboru
        (tlačítko <i>ze souboru</i>), nebo obnovit dříve uloženou (tlačítko
        <i>načíst</i>). Stejně tak si můžete aktuální konfiguraci uložit – ať
        už do souboru, nebo pouze pro tuto chvíli (tlačítko <i>uložit</i>).
        Před zadáváním si nezapomeňte zvolit barvu.</li>
        <li>Levý klik na buňku: nastavit aktuální vybranou barvu.</li>
        <li>Pravý klik na buňku: změnit barvu na další barvu.</li>
    </ul>
</div>
</div>

<div id="rules" class="w3-container">
<div class="w3-content">
    <h2>Zápis pravidla</h2>
    <p><i>Přechodové pravidlo</i> popisuje, jaká bude barva buňky v dalším
    kroku na základě barvy buňky a barev okolních 8 buněk. <i>Přechodové
    pravidlo</i> se skládá z jedné nebo více zanořených podmínek. Zápis
    přechodového pravidla je podobný syntaxi programovacího jazyka
    <i>Python</i>.</p>

    <p>Příklad pravidla:</p>

<code><pre>
if ----r---- == 1:
    g
else:
    r
</pre></code>

    <p>Toto pravidlo říká: <i>pokud je buňka červená (r), změní se na zelenou
    (g), jinak se změní na červenou (r)</i>.</p>

    <p>Příklad pravidla s více zanořeními:</p>

<code><pre>
if ((rrb------ % 2) == 1) or (------bbr &gt;= 2):
    if (bb-----bb + kk-----kk) &gt;= 5:
        b
    else:
        k  # seda barva
else:
    b
</pre></code>

    <p>Pokud je podmínka splněna (je vyhodnocena jako pravdivá), provede se
    kód, který za ní následuje (začíná na následujícím řádku za odsazením).
    Jinak se provede kód ve větvi <i>else</i> – začínající na následujícím řádku
    za odsazením.  Tímto kódem může být buďto písmeno značící barvu, nebo další
    podmínka.</p>


    <ol>
        <li>Každá podmínka musí mít <i>if větev</i> i <i>else větev</i>.</li>
        <li>Závorek si do podmínky můžete napsat kolik chcete.</li>
        <li>Závorky se nemusí psát nikde. Neuzávorkovaný výraz se
        uzávorkuje podle priorit operátorů, případně zleva.</li>
        <li>Podporované logické spojky jsou <code>or</code> a
        <code>and</code>).</li>
        <li>Podporované porovnávací operátory jsou <code>&lt;=</code>,
        <code>&gt;=</code>, <code>&lt;</code>, <code>&gt;</code>,
        <code>==</code> (rovnost), <code>!=</code> (nerovnost).</li>
        <li>Podporované aritmetické operátory jsou <code>+</code>,
        <code>-</code>, <code>*</code>, <code>/</code> (celočíselné dělení),
        <code>%</code> (zbytek po celočíselném dělení).</li>
        <li>Priority operátorů jsou standardní.</li>
        <li>Kód se vyhodnotí i neodsazený, ale ve vašich řešeních odsazení
        pro přehlednost vyžadujeme!</li>
        <li>Odsazuje se buď tabulátorem nebo 4 znaky mezera.</li>
        <li>Jazyk podporuje jednořádkové komentáře: cokoliv za znakem
        <code>#</code> se nezpracovává (včetně tohoto znaku).</li>
        <li>Na bílých znacích nezáleží.</li>
    </ol>

    <h3>Vyhodnocování podmínky</h3>

    <p>Podmínka se vyhodnocuje tak, jak byste čekali: výraz <code>and</code>
    znamená logické <i>a</i>, <code>&lt;</code> znamená <i>menší než</i> atp.</p>

    <p>Jediným zvláštním výrazem v podmínce je tzv. <i>selektor</i>: to je
    například <code>bbb------</code> nebo <code>kk-----kk</code>.

    <p>Selektor se vždy skládá <strong>právě z 9 symbolů</strong>. Těmito
    symboly mohou být písmena jednotlivých barev, nebo spojovník
    <code>-</code>. Těchto 9 symbolů popisuje po řádcích bezprostřední okolí
    buňky.</p>

    <p>Příklad: zápis <code>bbb--r--b</code> značí následující okolí:</p>
    <table class="selector_table">
        <tr><td>b</td><td>b</td><td>b</td></tr>
        <tr><td>-</td><td>-</td><td>r</td></tr>
        <tr><td>-</td><td>-</td><td>b</td></tr>
    </table>
    <table class="selector_table">
        <tr><td class="blue"></td><td class="blue"></td><td class="blue"></td></tr>
        <tr><td></td><td></td><td class="red"></td></tr>
        <tr><td></td><td></td><td class="blue"></td></tr>
    </table>
    <p>Povolené barvy jsou: <font color="red">r: červená</font>, <font
    color="blue">b: modrá</font>, <font color="green">g: zelená</font>, <font
    color="grey">k: šedá</font>. Barvy mohou být omezeny v konkrétních úlohách.</p>

    <p>Selektor se v podmínce chápe jako číslo. Toto číslo značí, <strong>kolik
    buněk souhlasí se selektorem</strong>.</p>

    <p>Příklad: Máme konfiguraci velikosti 4×4:

    <table class="selector_table">
        <tr><td class="blue"></td><td class="blue"></td><td class="blue"></td>
        <td class="gray"></td></tr>
        <tr><td class="green"></td><td class="red"></td><td class="red"></td>
        <td class="blue"></tr>
        <tr><td class="blue"></td><td class="blue"></td><td class="blue"></td>
        <td class="green"></tr>
        <tr><td class="red"></td><td class="red"></td><td class="red"></td>
        <td class="red"></td></tr>
    </table>

    Ptáme se, jaká bude barva buňky na pozici (x=3, y=3) (modrá buňka) při
    použití výše zmiňovaného <i>pravidla s více zanořeními</i>.

    Okolí buňky vypadá takto: <code>rrbbbgrrr</code>.
    <table class="selector_table">
        <tr><td class="red"></td><td class="red"></td><td class="blue"></td></tr>
        <tr><td class="blue"></td><td class="blue"></td><td class="green"></td></tr>
        <tr><td class="red"></td><td class="red"></td><td class="red"></td></tr>
    </table></p>

    <ol>
    <li>Vyhodnocujeme podmínku na řádku 1: <code>if ((rrb------ % 2) == 1) or
    (------bbr &gt;= 2):</code></li>
    <li>Protože okolí je <code>rrbbbgrrr</code>, tak hodnota selektoru
    <code>rrb------</code> je 3 (všechny 3 barvy sedly).</li>
    <li>Protože okolí je <code>rrbbbgrrr</code>, tak hodnota selektoru
    <code>------bbr</code> je 1 (pouze poslední písmeno <i>r</i> sedlo).</li>
    <li>Máme výraz <code>if ((3 % 2) == 1) or (1 &gt;= 2):</code>. Upravíme:
    <code>if (1 == 1) or (1 &gt;= 2):</code>. Tento výraz platí, takže
    pokračujeme na řádek 2 zápisu pravidla.</li>
    <li>Vyhodnotíme podmínku <code>if (bb-----bb + kk-----kk) &gt;= 5:</code>.</li>
    <li>Přepíšeme selektory podle okolí: <code>if (0 + 0) &gt;= 5:</code>.</li>
    <li>Výraz je nepravdivý, skáčeme tedy do <i>else větve</i>.</li>
    <li>V <i>else větvi</i> už je přímo barva: <i>k</i>, takže buňka v nové
    generaci bude mít šedou barvu.</li>
    </ol>

    <p>Tento proces opakujeme pro každou buňku mřížky.</p>

    <ul>
        <li><code>-</code> (spojovník) označuje políčko libovolné barvy. Toto
        políčko se do výsledné hodnoty selektoru nepočítá.</li>
        <li>Vytvářejte vždy pouze <i>jedno</i> pravidlo (jednu hlavní podmínku
        <code>if</code>) s libovolným počtem vnořených podmínek. Pro ty, kteří
        již mají nějaké zkušenosti s programováním: větve typu <code>elif</code>,
        <code>else if</code> zde nepoužívejte.</li>
    </ul>

    <h3>Příklad pravidla</h3>
<code><pre>
if bbb------ &gt;= 1 or ------bbb &gt;= 2:
    if kkkkkkkkk &gt;= 5:
        b
    else:
        k
else:
    b
</code></pre>

    <p class="rule_example_description">Pravidlo zkoumá, jestli je v horním
    řádku alespoň 1 modrá nebo jsou alespoň 2 modré ve spodním řádku. Pokud ano
    (tedy platí alespoň jedna z podmínek), tak zjišťuje, jestli je celkem
    alespoň 5 šedých. Když platí obě podmínky, tak bude prostřední buňka modrá.
    Pokud platí pouze první podmínka, tak bude šedá. Pokud neplatí ani první
    podmínka, prostřední buňka bude modrá.</p>


    <hr>
    <h3>Pro pokročilé: gramatika jazyka pravidla</h3>

    <p>Pokud byste měli nějaké nejasnosti, můžete nahlédnout do gramatiky
    jazyka pro zápis přechodového pravidla tak, jak ji akceptuje nástoj
    <code>pyparsing</code>.</p>

<code><pre>
color = Word(allowed_colors, exact=1)
integer = Word(string.digits)

selector = Word(allowed_colors + '-', exact=1) * 9

num_operation = infixNotation(
    (selector | integer),
    [
        ('*', 2, opAssoc.LEFT),
        ('/', 2, opAssoc.LEFT),
        ('+', 2, opAssoc.LEFT),
        ('-', 2, opAssoc.LEFT),
        ('%', 2, opAssoc.LEFT),
    ]
)

operator = oneOf('&gt;= &lt;= != &gt; &lt; ==')
comparison_token = num_operation | selector | integer
comparison = (comparison_token + operator + comparison_token)

bool_expr = infixNotation(
    comparison,
    [
        ('and', 2, opAssoc.LEFT),
        ('or', 2, opAssoc.LEFT),
    ]
)

rule = Forward()
condition = Word('if') + bool_expr + Word(':') + rule + Word('else:') + rule
rule &lt;&lt; (condition | color)
</pre></code>

</div>
</div>
{% include "includes/footer.html" %}
</div>
</body>
</html>
