<!DOCTYPE html>
<html lang="cs">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/static/core.js"></script>
        <script src="/static/automata.js"></script>
        <script src="/static/world.js"></script>
        <script src="/static/test.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/mode/python/python.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/keymap/sublime.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/style.css">

        <script>
            CSRF_TOKEN = "{{ csrf_token }}"

            $(()=>{
                world = new World(25, 25, "automata", new ConstantRule('k'));
            });
        </script>
        <title>Klikátko</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <!-- Navbar -->
        {% include "includes/navbar.html" %}

        <header class = "w3-container w3-center">
            <h2>KLIKÁTKO</h2>
        </header>
    <div class = "w3-row">
        <div class = "w3-col w3-container l6">
            <div class="w3-row">
                <textarea id="console" class = "w3-col w3-container l12"></textarea>
                <!-- save -->
                <div id="console-info" class = "w3-col w3-container s12 m12 l12 w3-padding">
                    žádná pravidla nenačtena.
                </div>
                <div class = "w3-col w3-container s1 m1 l1 w3-white w3-padding">
                    x:
                </div>
                <input id="width-input" type="number" class = "w3-col w3-container s3 m3 l3 w3-white w3-input w3-padding" value=25></input>
                <div class = "w3-col w3-container s1 m1 l1 w3-white w3-padding">
                    h:
                </div>
                <input id="height-input" type="number" class = "w3-col w3-container s3 m3 l3 w3-white w3-input w3-padding" value=25></input>
                <div id="load-btn" class = "w3-col w3-container s4 m4 l4 w3-button w3-padding" onclick="world.loadSource(editor)">
                    načíst
                </div>

                <!-- time control -->
                <button class = "w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.prevTick()">
                    zpět
                </button>
                <button class = "w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.run()">
                    spustit
                </button>
                <button class = "w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.stop()">
                    zastavit
                </button>
                <button class = "w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.nextTick()">
                    další
                </button>

                <div class = "w3-col w3-container s12 m12 l12 w3-padding v-space"></div>

                <!-- map control -->
                <button class = "w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.clear()">
                    vyčistit
                </button>
                <button class = "w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.fill()">
                    zaplnit
                </button>
                <button id="load-last" disabled class = "w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.load()">
                    načíst
                </button>
                <button class = "w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.save()">
                    uložit
                </button>
                <button class = "w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="document.getElementById('modal-upload').style.display='block';">
                    ze souboru
                </button>
                <button class = "w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="">
                    do souboru
                </button>

                <div class = "w3-col w3-container s12 m12 l12 w3-padding v-space"></div>
                <div class = "w3-col w3-container s12 m12 l12 w3-padding v-space"></div>
                <div class = "w3-col w3-container s12 m12 l12 w3-padding v-space"></div>

                <!-- colors -->
                <button class = "color-btn r w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.selectColor('r')">
                    R
                </button>
                <button class = "color-btn g w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.selectColor('g')">
                    G
                </button>
                <button class = "color-btn b w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.selectColor('b')">
                    B
                </button>
                <button class = "color-btn k w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.selectColor('k')">
                    K
                </button>

                <!-- map type -->
                <button id="plane-btn" class="w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.switchTorus()">
                    rovina
                </button>
                <button id="torus-btn" class="w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.switchTorus()">
                    torus
                </button>
                <div class="w3-col w3-container s12 m12 l3 w3-padding">
                </div>
                <button id="torus-btn" class="w3-col w3-container s12 m12 l3 w3-padding w3-button" onclick="world.switchTorus()">
                    vložit mapu
                </button>
            </div>

        </div>

        <div class = "w3-col w3-container l6">
            <canvas id="automata"></canvas>
        </div>
    </div>


    <!-- The Modal Upload -->
    <div id="modal-upload" class="w3-modal" style="display: none;">
        <div class="w3-modal-content dark-grey-background" style="width: 600px">
            <div class="w3-container w3-padding-large">
                <span onclick="document.getElementById('modal-upload').style.display='none'; document.getElementById('loaded-info').innerHTML = '';"
                    class="button w3-display-topright">&times;</span>
                <div class="w3-content" style="margin-top: 26px;">
                    <div class="w3-panel w3-light-green">
                        <p>
                            Tento formulář neslouží k odevzdávání pdf souboru!
                            Pro odevzdání pdf souboru využijte
                            <a href="https://ntrophy.cz/submit-page/" target="_blank">odevzdávárnu</a>.
                        </p>
                    </div>

                    <div class="w3-content w3-padding">
                        <p>
                            Tady byste měli najít popis toho, v jakém formátu máte soubor nahrát.
                            Pokud tomu tak není, kontaktujete organizátory.
                        </p>
                    </div>

                    <div id='file-input' style="display: block;">
                        <div class="w3-center w3-margin w3-padding-large">
                            <input type="file" id="upload-file"><br>
                        </div>
                        <div class="w3-center">
                            <button class="button w3-padding-large w3-margin-left w3-margin-right" onclick="parseUploadedFile('upload-file', 'loaded-info', world.onLoadFile)">Nahrát</button>
                            <button class="button w3-padding-large w3-margin-left w3-margin-right" onclick="document.getElementById('modal-upload').style.display='none'; document.getElementById('loaded-info').innerHTML = '';">Zrušit</button>
                        </div>
                        <div class="w3-content">
                            <p id="loaded-info" class="w3-padding" style="margin:8px 16px 0px 16px;"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const editor = CodeMirror.fromTextArea(document.getElementById('console'), {
            lineNumbers: true,
            mode: 'python',
            keyMap: 'sublime',
        });

        editor.on('change', (a,b)=>{
            $('#console-info').text('Kód změněn.')
            $('#console-info').css({
                color: "red",
            })
        })
    </script>

    <!-- Footer -->
    <footer class="w3-container black-background w3-center w3-opacity">
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </footer>
    </body>
</html>
