<!DOCTYPE html>
<html lang="cs">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/static/core.js"></script>
        <script src="/static/automata.js"></script>
        <script src="/static/world.js"></script>
        <script src="/static/test.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/mode/python/python.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/keymap/sublime.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/style.css">

        <script>
            CSRF_TOKEN = "{{ csrf_token }}"

            {% if task.klikatko %}
                $(()=>{
                    world = new World("automata", {{ task.klikatko_width }}, {{ task.klikatko_height }}, undefined, "{{ task.grid_type }}", "{{ taks.allowed_colors }}", "{{ task.start_config }}");
                });
            {% endif %}
        </script>
        <title>{{ task.name }}</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <!-- Navbar -->
        {% include "includes/navbar.html" %}

        <header class="w3-container">
            <div id="task-header">
                <h2>{{ task.name }}</h2>
                <p>
                    Maximální počet bodů: {{ task.max_points }}
                </p>
                    {{ task.intro_text |safe }}
            </div>
        </header>

        {% if task.klikatko %}
        <div class = "w3-row">
            <div class = "w3-col w3-container l6">
                {% include "includes/code_with_controls.html" with rules_src=task.rules width=task.klikatko_width height=task.klikatko_height %}

                <div class = "w3-col w3-container s12 m12 l12 w3-padding v-space-large"></div>

                {% include "includes/map_controls.html" %}
            </div>

            <!-- Map -->
            <div class = "w3-col w3-container l6">
                <canvas id="automata"></canvas>
            </div>
        </div>
        {% endif %}

        <!-- Footer -->
        <footer class="w3-container black-background w3-center w3-opacity">
            <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
        </footer>
    </body>
</html>
