<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/static/core.js"></script>
        <script src="/static/automata.js"></script>
        <script src="/static/world.js"></script>
        <script src="/static/test.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/mode/python/python.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/keymap/sublime.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/style.css">

        <script>
            CSRF_TOKEN = "{{ csrf_token }}"

            {% if task.klikatko %}
                $(()=>{
                    world = new World("automata", {{ task.klikatko_width }}, {{ task.klikatko_height }}, undefined, "{{ task.grid_type }}", "{{ task.allowed_colors }}", "{{ task.start_config }}", {{ task.id }}, {{ task.is_stepper |yesno:"true,false"}});
                });
            {% endif %}
        </script>
        <title>{{ task.name }} – Kvalifikace logika N-trophy X</title>
        <link rel="shortcut icon" type="image/png" href="/static/img/logo.png"/>
        <meta charset="UTF-8">
    </head>
    <body>
        <div id="page-container">
            <div id="page-content">

                <!-- Navbar -->
                {% include "includes/navbar.html" %}
        
                <div class="w3-container">
                    <div id="task-header">
                        <h2>{{ task.name }}</h2>
                        {{ task.intro_text |safe }}
                        <h3>Technická specifikace úlohy</h3>
                        <ol>
                            <li>Povolené barvy: {{ task.allowed_colors }}</li>
                            <li>Typ mřížky: {{ task.grid_type }}</li>
                            <li>Zbývající počet odevzdání: <a class="remaining_submissions">{{ remaining_submissions }}</a></li>
                        </ol>
        
                    </div>
                    {% if task.should_submit %}
                    <div class="w3-center">
                        <button class="w3-button w3-margin w3-center w3-padding-large w3-red" onclick="document.getElementById('modal-submit').style.display='block';">Odevzdat řešení</button>
                    </div>
                    {% endif %}
                </div>
        
                {% if task.klikatko %}
                <div class = "w3-row klikatko-container">
                    <div class = "w3-col w3-container l6">
                        {% include "includes/code_with_controls.html" with rules_src=task.rules width=task.klikatko_width height=task.klikatko_height %}
        
                        <div class = "w3-col w3-container s12 m12 l12 w3-padding v-space-large"></div>
        
                        {% include "includes/map_controls.html" %}
                    </div>
        
                    <!-- Map -->
                    <div class = "w3-col w3-container l6">
                        <canvas id="automata"></canvas>
                    </div>
                </div>
                {% endif %}
        
                {% if task.should_submit %}
                    {% include "includes/modal_submit.html" %}
                {% endif %}
            </div>

    
            {% include "includes/footer.html" %}
        </div>
    </body>
</html>
