<div>
    <!-- Console -->
    <textarea id="console" class = "w3-col w3-container l12">{% firstof rules_src task.allowed_colors.0 "k" %}
</textarea>

    <!-- First line -->
    <div id="console-info" class = "w3-col w3-container s12 m12 l12 w3-padding">
        Žádná pravidla nenačtena.
    </div>

    <script>
        const editor = CodeMirror.fromTextArea(document.getElementById('console'), {
            lineNumbers: true,
            mode: 'python',
            keyMap: 'sublime',
        });

        editor.on('change', (a,b)=>{
            $('#console-info').text('Kód změněn.');
            $('#console-info').addClass('warning');

            $('#submit-info').text("Kód v textovém editoru se neshoduje s načteným kódem v simulaci. Bude odeslán kód z textového editoru.");
            $('#submit-info').addClass("warning");
        })
    </script>

    <!-- Second line -->
    <div>
        <!-- Map resolution -->
        <div>
            <div class = "w3-col w3-container s2 m1 l1 w3-white w3-padding">
                šířka:
            </div>
            <input {% if task %} disabled {% endif %} id="width-input" type="number" class = "w3-col w3-container s4 m3 l3 w3-white w3-input w3-padding" value={{ width }}></input>

            <div class = "w3-col w3-container s2 m1 l1 w3-white w3-padding">
                výška:
            </div>
            <input {% if task %} disabled {% endif %} id="height-input" type="number" class = "w3-col w3-container s4 m3 l3 w3-white w3-input w3-padding" value={{ height }}></input>
        </div>

        <!-- Load button -->
        <div id="load-btn" class = "w3-col w3-container s12 m4 l4 w3-button w3-padding" onclick="world.loadSource(editor, 'submit-info')">
            načíst kód
        </div>
    </div>
</div>

{% include "includes/code_controls_only.html" %}
