<!-- Code controls -->
<div>
    <button class = "w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.prevTick()">
        zpět
    </button>
    <button class = "w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.run()">
        spustit
    </button>
    <button class = "w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.stop()">
        zastavit
    </button>
    <button class = "w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.oneTick()">
        další
    </button>
</div>
