<!-- Map controls -->
<div>
    <!-- General -->
    <div>
        <button class = "w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.clear()">
            vyčistit
        </button>
        <button class = "w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.fill()">
            zaplnit
        </button>

        <!-- Map type -->
        <button id="plane-btn" class="w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.switchToPlane()">
            rovina
        </button>
        <button id="torus-btn" class="w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.switchToTorus()">
            torus
        </button>

        <!-- Load and save -->
        <button id="load-last" disabled class = "w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.load()">
            načíst
        </button>
        <button class = "w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.save()">
            uložit
        </button>

        <!-- To and from files -->
        <button class = "w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="document.getElementById('modal-upload').style.display='block';">
            ze souboru
        </button>
        <button class = "w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="">
            do souboru
        </button>
    </div>

    <div class = "w3-col w3-container s12 m12 l12 w3-padding v-space"></div>

    <!-- Colors -->
    <div>
        <button class = "color-btn r w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.selectColor('r')">
            R
        </button>
        <button class = "color-btn g w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.selectColor('g')">
            G
        </button>
        <button class = "color-btn b w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.selectColor('b')">
            B
        </button>
        <button class = "color-btn k w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.selectColor('k')">
            K
        </button>
    </div>

    <!-- The Modal Upload -->
    <div id="modal-upload" class="w3-modal" style="display: none;">
        <div class="w3-modal-content dark-grey-background" style="width: 600px">
            <div class="w3-container w3-padding-large">
                <span onclick="document.getElementById('modal-upload').style.display='none'; document.getElementById('loaded-info').innerHTML = '';"
                    class="button w3-display-topright">&times;</span>
                <div class="w3-content" style="margin-top: 26px;">
                    <div class="w3-panel w3-light-green">
                        <p>
                            Tento formulář neslouží k odevzdávání pdf souboru!
                            Pro odevzdání pdf souboru využijte
                            <a href="https://ntrophy.cz/submit-page/" target="_blank">odevzdávárnu</a>.
                        </p>
                    </div>

                    <div class="w3-content w3-padding">
                        <p>
                            Tady byste měli najít popis toho, v jakém formátu máte soubor nahrát.
                            Pokud tomu tak není, kontaktujete organizátory.
                        </p>
                    </div>

                    <div id='file-input' style="display: block;">
                        <div class="w3-center w3-margin w3-padding-large">
                            <input type="file" id="upload-file"><br>
                        </div>
                        <div class="w3-center">
                            <button class="button w3-padding-large w3-margin-left w3-margin-right" onclick="parseUploadedFile('upload-file', 'loaded-info', world.onLoadFile.bind(world))">Nahrát</button>
                            <button class="button w3-padding-large w3-margin-left w3-margin-right" onclick="document.getElementById('modal-upload').style.display='none'; document.getElementById('loaded-info').innerHTML = '';">Zrušit</button>
                        </div>
                        <div class="w3-content">
                            <p id="loaded-info" class="w3-padding warning" style="margin:8px 16px 0px 16px;"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
