<!-- Map controls -->
<div>
    <!-- General -->
    <div>
        <button class = "w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.clear()">
            vyčistit
        </button>
        <button class = "w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.fill()">
            zaplnit
        </button>

        <!-- Map type -->
        <button {% if task %} disabled {% endif %} id="plane-btn" class="w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.switchToPlane()">
            rovina
        </button>
        <button {% if task %} disabled {% endif %} id="torus-btn" class="w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.switchToTorus()">
            torus
        </button>

        <!-- Load and save -->
        <button id="load-last" disabled class = "w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.load()">
            načíst
        </button>
        <button class = "w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.save()">
            uložit
        </button>

        <!-- To and from files -->
        <button class = "w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="document.getElementById('modal-upload').style.display='block';">
            ze souboru
        </button>
        <button class = "w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.downloadMap();">
            do souboru
        </button>
    </div>

    <div class = "w3-col w3-container s12 m12 l12 w3-padding v-space"></div>

    <!-- Colors -->
    <div>
        <button {% if "r" not in task.allowed_colors %} disabled {% endif %} class = "color-btn r w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.selectColor('r')">
            R
        </button>
        <button {% if "g" not in task.allowed_colors %} disabled {% endif %} class = "color-btn g w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.selectColor('g')">
            G
        </button>
        <button {% if "b" not in task.allowed_colors %} disabled {% endif %} class = "color-btn b w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.selectColor('b')">
            B
        </button>
        <button {% if "k" not in task.allowed_colors %} disabled {% endif %} class = "color-btn k w3-col w3-container s12 m6 l3 w3-padding w3-button" onclick="world.selectColor('k')">
            K
        </button>
    </div>

    {% include "includes/modal_upload.html" %}
</div>
